!!!
%html
	%head
		%title Practica - Rock, Paper and Scissors
		%meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		%link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    		%link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
	%body
		.container
		  / Main hero unit for a primary marketing message or call to action
		  .hero-unit
		    %h1 Juega a Piedra, Papel o Tijera
		    %p Elije una de las jugadas.
		  / Example row of columns
		  .row
		    .span4
		      %h2 Jugador
			- if(player_throw == 'rock')
				%center
					%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/rock_zps0ebe7421.jpg', :alt => 'Rock', height: '250', width: '250'}
			- elsif (player_throw == 'scissors')
				%center
					%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/tijeras_zps543ca9ac.jpg', :alt => 'Scissors', height: '250', width: '250'}
			- elsif (player_throw == 'paper')
				%center
					%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/paper_zpse0ed0ca5.jpg', :alt => 'Paper', height: '250', width: '250'}
		    .span4
			%center
				%h2 Vs.
				%h3= anwser
		    .span4
		      %h2 Maquina
			- if(throws.include?(player_throw))	
				- if(computer_throw == 'rock')
					%center
						%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/rock_zps0ebe7421.jpg', :alt => 'Rock', height: '250', width: '250'}
				- elsif (computer_throw == 'scissors')
					%center
						%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/tijeras_zps543ca9ac.jpg', :alt => 'Scissors', height: '250', width: '250'}
				- elsif (computer_throw == 'paper')
					%center
						%img{:src => 'http://i1296.photobucket.com/albums/ag1/adrihg89/paper_zpse0ed0ca5.jpg', :alt => 'Paper', height: '250', width: '250'}
		  %hr/
		  %footer
		    %p © 2013 Sistemas y Tecnologias Web - ETSII
